@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Libre+Bodoni&display=swap");

.nev {
  position: absolute;
  margin-left: 20px;
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 4px 1px 9px #3e3434;
  font-family: "Libre Bodoni", serif;
  letter-spacing: 2px;
}
#cim {
  letter-spacing: 5px;
  font-family: "IM Fell French Canon SC", serif;
}
#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.kepDiv {
  position: relative;
  width: 300px;
  height: 500px;
  font-size: 15pt;
  border-radius: 4px;
  transition: all 500ms;
  margin: 15px 5px 15px 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#container {
  text-align: center;
}
a {
  text-decoration: none;
}
